			* {
				margin: 0;
				padding: 0;
			}
			
			.header {
				width: 100%;
				height: 70px;
				background-color: #191D3A;
			}
			
			.index {
				background-color: #252947;
			}
			
			.logo {
				margin: 12px 0 0 100px;
				float: left;
			}
			
			ul {
				list-style: none;
			}
			
			.nav_ul li {
				line-height: 70px;
				text-align: center;
				float: left;
				width: 100px;
				border-left: 1px solid #252947;
			}
			
			a {
				text-decoration: none;
				color: #818496;
			}
			
			.header ul li a:hover {
				color: #e2e4ed;
			}
			
			.joinus {
				display: inline-block;
				margin: 0 0 0 12px;
				height: 34px;
				line-height: 2;
				width: 98px;
				border: 1px solid #3aca7a;
				border-radius: 3px;
				background-color: #38b774;
				font-size: 1em;
				color: #fff;
			}
			
			.changelang {
				float: right;
				margin: 25px 100px 0 0;
			}
			
			#chinese {
				color: #2ba364;
			}
			
			#english:hover {
				color: #2ba364;
			}
			
			/*
			 	1920 * 420
			 * */
			#nav{
				position: relative;
				width: 1350px;
				height: 420px;
				margin: 0 auto;
				/*overflow: hidden;*/
			}
			#imgList{
				position: absolute;
			}
			#img_ul{
				list-style: none;
			}
			#img_ul li{
				float: left;
			}
			.nav_pic{
				width: 1350px;
				height: 420px;
			}
			#navNav{
				top: 380px;
				position: absolute;
			}
			#navNav a{
				width: 15px;
				height: 15px;
				background-color: white;
				opacity: 0.5;
				border-radius: 50px;
				border: 1px solid transparent;
				float: left;
				margin: 0 10px;
				
			}
			#navNav a:hover{
				background-color: white;
			}
			
			.v1,
			.v2,
			.v3,
			.v4 {
				width: 219px;
				height: 195px;
				display: inline-block;
				margin-left: 100px;
				margin-top: 50px;
				text-align: center;
			}
			
			.v2,
			.v3,
			.v4 {
				margin-left: 70px;
			}
			
			.v1:hover {
				background-color: #2BA364;
				color: #FFFFFF;
			}
			
			.v2:hover {
				background-color: #2BA364;
				color: #FFFFFF;
			}
			
			.v3:hover {
				background-color: #2BA364;
				color: #FFFFFF;
			}
			
			.v4:hover {
				background-color: #2BA364;
				color: #FFFFFF;
			}
			
			.vb {
				margin-top: 5px;
			}
			
			.start {
				display: block;
				margin-top: 10px;
				color: #2BA364;
			}
			
			.start:hover {
				color: #FFFFFF;
			}
			#horizon{
				margin:15px 0px 15px 150px;
			}
			
			.new_left {
				width: 530px;
				height: 350px;
				margin-left: 100px;
				display: inline-block;
				float: left;
			}
			
			.new_new {
				width: 100%;
				border-bottom: 2px solid gray;
			}
			.news li{
				margin-top: 11px;
				padding-bottom: 14px;
				border-bottom: 1px solid darkgray;
			}
			.news :hover a{
				color: #2BA364;
			}
			.date{
				float: right;
			}
			
			.new_right{
				background: url(../img/hr.jpg);
				width: 500px;
				height: 310px;
				float: left;
				margin-left: 60px;
			}
			.new_hr li{
				width: 300px;
				margin-left: 20px;
				margin-bottom: 5px;
				padding-bottom: 10px;
				border-bottom: 1px solid darkgray;
			}
			#sohr{
				margin-left: 20px;
				margin-bottom: 15px;
				margin-top: 110px;
				color: #FFF;
			}
			.new_right ul li a{
				color: #FFF;
			}
			
			
			.footer {
				clear: both;
				width: 100%;
				height: 200px;
				background-color: #191D3A;
				margin-top: 50px;
			}
			
			.footer ul li{
				margin-left: 100px;
				margin-top: 30px;
			}
			#map{
				padding-top: 30px;
			}
			
			.huiz {
				width: 60px;
				height: 60px;
				position: absolute;
				top: 1268px;
				right: 207px;
			}
			
			.top {
				width: 80px;
				height: 30px;
				position: fixed;
				top: auto;
				left: auto;
				right: 30px;
				bottom: 100px;
			}