			
			
			.games {
				background-color: #252947;
			}
			
			.game_nav{
				width: 1366px;
				height: 254px;
				background: url(../img/gamebanner.jpg);
			}
			.game_top{
				width: 1000px;
				height: 43px;
				border-bottom: 1px solid gray;
				margin-top: 20px;
				margin-left: 150px;
				
			}
			.gametop_left{
				width: 200px;
				display: inline-block;
				font-size: 22px;
				font-weight: bold;
			}
			.game_top .game_icon{
				display: inline-block;
				width: 23px;
				height: 16px;
				background:  url(../img/location.png) 0 -100px no-repeat;
			}
			.game_top .game_text{
				display: inline-block;

			}
			.gametop_right{
				display: inline-block;
				float: right;
				margin-top: 6px;
			}

			.gametop_right ul{
				list-style: none;
			}
			.gametop_right ul li{
				margin-left: 10px;
				float: right;
				
			}
			.gametop_right .home{
				display: inline-block;
				width: 15px;
				height: 13px;
				background: url(../img/home.png);
			}
			.gametop_right .next{
				display: inline-block;
				width: 3px;
				height: 8px;
				background: url(../img/arrow.png);
			}
			
			
			
			
			
			/* 左内容 */
			.game_left{
				width: 200px;
				height: 400px;
				margin-left: 150px;
				margin-top: 30px;
				display: inline-block;
			}
			.game_left ul li{
				margin-top: 20px;
				padding: 10px;
				border-bottom: 1px grey solid;
			}
			
			#iphone1{
				width: 31px;
				height: 36px;
				display: inline-block;
				background: url(../img/pad.png) no-repeat;
			}
			
			#iphone1:hover{
				background: url(../img/pad.png) no-repeat -124px 0;
			}
			#android1{
				width: 33px;
				height: 39px;
				display: inline-block;
				background: url(../img/pad.png) no-repeat -4px -98px;
			}
			#android1:hover{
				background: url(../img/pad.png) no-repeat -122px -98px;
			}
			#ipad1{
				width: 27px;
				height: 38px;
				display: inline-block;
				background: url(../img/pad.png) no-repeat 0 -199px;
			}
			#ipad1:hover{
				background: url(../img/pad.png) no-repeat -121px -199px;
			}
			#pc1{
				width:34px ;
				height: 28px;
				display: inline-block;
				background: url(../img/pad.png) no-repeat 0 -300px;
			}
			#pc1:hover{
				background: url(../img/pad.png) no-repeat -120px -300px;
			}
			#tv1{
				width:42px ;
				height: 29px;
				display: inline-block;
				background: url(../img/pad.png) no-repeat 0 -507px;
			}
			#tv1:hover{
				background: url(../img/pad.png) no-repeat -120px -507px;
			}
			.game_left ul li span{
				font-size: 20px;
				padding-left: 20px;
			}
	
			.game_right{
				width: 950px;
				height: 1100px;
				margin-top: 40px;
				float: right;
			}
			.pic_1{
				width:380px;
				height: 320px;
				border: 1px solid darkgray;
				border-radius: 5px;
				background: #CAD6E1;
				display: inline-block;
				margin: 10px 10px 20px 10px;
			}
			.pic_1 .text_pic{
				font-size: 18px;
				text-align: center;
			}
			
			.pic_11{
				width:331px;
				height: 195px;
				background: url(../img/p1.jpg);
				margin:10px 0 10px 25px;
			}
			.pic_111{
				width: 31px;
				height: 36px;
				display: inline-block;
				background: url(../img/pad.png) no-repeat;
			}
			
			.pic_112{
				width: 40px;
				height: 40px;
				display: inline-block;
				background: url(../img/landlords80.png) no-repeat;
			}
			.pic_1 ul li{
				float: left;
				
				margin:10px 35px 0 10px;
				padding-left: 20px;
			}
			.pic_1 ul li span{
				display: inline-block;
				font-size: 17px;
			}
			
