				
				.tele {
					background-color: #252947;
				}
				.about_nav{
					width: 1366px;
					height: 254px;
					background: url(../img/faqbanner.jpg);
				}
							.about_top{
								width: 1000px;
								height: 43px;
								border-bottom: 1px solid gray;
								margin-top: 20px;
								margin-left: 150px;
								
							}
							.abouttop_left{
								width: 200px;
								display: inline-block;
								font-size: 22px;
								font-weight: bold;
							}
							.about_top .about_icon{
								display: inline-block;
								width: 23px;
								height: 16px;
								background:  url(../img/location.png) 0 -100px no-repeat;
							}
							.about_top .about_text{
								display: inline-block;
				
							}
							.abouttop_right{
								display: inline-block;
								float: right;
								margin-top: 6px;
							}
				
							.abouttop_right ul{
								list-style: none;
							}
							.abouttop_right ul li{
								margin-left: 10px;
								float: right;
								
							}
							.abouttop_right .home{
								display: inline-block;
								width: 15px;
								height: 13px;
								background: url(../img/home.png);
							}
							.abouttop_right .next{
								display: inline-block;
								width: 3px;
								height: 8px;
								background: url(../img/arrow.png);
							}
							
							
							
							
							
							
							
							
							.kfmid_top{
								width: 1300px;
								height: 200px;
							}
							.kf1{
								width: 353px;
								height: 149px;
								display: inline-block;
								margin: 30px 5px 30px 115px;
								background: url(../img/tel1.png);
							}
							.kf2{
								width: 353px;
								height: 149px;
								display: inline-block;
								margin: 30px 5px;
								background: url(../img/tel2.png);
							}
							.kf3{
								width: 353px;
								height: 149px;
								display: inline-block;
								margin: 30px 5px;
								background: url(../img/tel3.png);
							}
							
							#kf_title{
								font-size: 16px;
								margin:10px 0 10px 115px;
							}
							.kfmid_bottle{
								width: 1050px;
								height: 380px;
								margin-left: 115px;
							}
							.kfmid_bottle p {
								margin-top: 10px;
								font-size: 15px;
							}
							
							.kfgame1,.kfgame2,.kfgame3,.kfgame4,.kfgame5,.kfgame6,.kfgame7,.kfgame8{
								width: 250px;
								height: 140px;
								text-align: center;
								padding-top: 30px;
								margin-top: 10px;
								display: inline-block;
								border: 1px solid darkgray;
							}
							.kfgame8{
								padding-top:100px ;
								height: 70px;
							}
							
							
							
							
							